@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 24
}

.container{
    width: 80%;
    margin: 0 auto;
}
  
body {
     font-size: 100%;
     height: 100%;
}

/* Raíz do arquivo */
:root {
    /* Cores */
    --white: #FAFAFA;
    --seashell: #F1F1F1;

    --clear-gray: #D9D9D9;
    --outline: #A0A0A0;
    --yonder: #4E4E4E;

    --black: #343839;
    --haiti: #16193B;
 
    --ice: #ADD5F7;
    --sky: #7FB2F0;
    --tufts: #4E7AC7;
    --blueberry: #0047C5;
    --chambray: #355D8C;

    
}

/* Cor de fonte  */

.color-white {
    color: var(--white);
}

.color-haiti {
    color: var(--haiti);
}

.color-outline {
    color: var(--outline);
}

/* Background  */

.bg-ice {
    background-color: var(--ice);
}

.bg-haiti {
    background-color: var(--haiti);
}

.bg-tufts {
    background-color: var(--tufts);
}

.bg-chambray {
    background-color: var(--chambray);
}

.bg-clear-gray {
    background-color: var(--clear-gray);
}
/* Fontes  */

.title-large  {
    font-weight: 800;
    font-size: 120px;
}

.title-small {
    font-weight: 800;
    font-size: 96px;
}

.head-huge {
    font-weight: 700;
    font-size: 72px;
}

.head-xlarge {
    font-weight: 700;
    font-size: 60px;
}

.head-large {
    font-weight: 700;
    font-size: 48px;
}

.head-medium {
    font-weight: 700;
    font-size: 36px;
}

.head-small {
    font-weight: 700;
    font-size: 30px;
}

.head-xsmall {
    font-weight: 700;
    font-size: 24px;
}

.body-xlarge {
    font-weight: 500;
    font-size: 20px;
}

.body-large {
    font-weight: 500;
    font-size: 18px;
}

.body-medium {
    font-weight: 500;
    font-size: 16px;
}

.body-medium-bold {
    font-weight: 700;
    font-size: 16px;
}

.body-small {
    font-weight: 500;
    font-size: 14px;
}

.body-xsmall {
    font-weight: 500;
    font-size: 12px;
}

.body-tiny {
    font-weight: 500;
    font-size: 10px;
}

/* Flex  */

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-evenly {
    justify-content: space-evenly;
}

.jc-around {
    justify-content: space-around;
}

.ac-center {
    align-content: center;
}

.ac-around {
    align-content: space-around;
}

.ac-between {
    align-content: space-between;
}

.ac-evenly {
    align-content: space-evenly;
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

/* Tamanho  */

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/* Margin */

.m-0auto {
    margin: 0 auto;
}

.m-auto0 {
    margin: auto 0;
}

.m-8 {
    margin: 8px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.p-16-lateral {
    padding-left: 8px;
    padding-right: 8px;
}

.p-8-vertical {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p-16 {
    padding: 16px;
}

/* Border  */
.border-ice {
    border: 1px solid var(--ice);
}

.border-outline {
    border: 1px solid var(--outline);
}

/* Elementos padrões  */

::placeholder {
    color: var(--outline);
    font-family: in;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}