.container-pai{
    background-color:var(--seashell);
}

.container-campanha{
    text-align: center;
}

.titulo {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-titulo {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;

}

.text-box {
    display: flex;
    padding-left: 20rem;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 24px;
}

.text-box-2 {
    display: flex;
    padding-left: 20rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    font-size: 24px;
}

.text-box-3 {
    display: flex;
    padding-left: 20rem;
    padding-bottom: 2rem;
    font-weight: 500;
    font-size: 16px;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 60px;
    background-color:var(--white);
    border-radius: 15px;
    border: 2px solid #ccc;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.input-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 150px;
    background-color:var(--white);
    border-radius: 15px;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.input-box-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    width: 900px;
    height: 60px;
    background-color:var(--white);
    border-radius: 15px;
    border: 2px solid #ccc;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.dois-botoes{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 3rem;
}

.btn-opcoes{
    color:white;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color:var(--sky);
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-left: 2rem;
}

.btn-criar{
    color:white;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    background-color:var(--blueberry);
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-left: 2rem;
}

.simbolo-upload{
    display: flex;
    justify-content: flex-start;
}

.box-botao-criar{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 5rem;
}
